body {
    font-family: Arial, sans-serif;
    display: block;
    background-color: #f4f4f4;
}

.product-card {
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
    width: 300px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.product-image {
    max-width: 100%;
    border-radius: 50%;
}

.product-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-description {
    font-size: 1em;
    color: #555;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
}

.button:hover {
    background-color: #218838;
}

a {
    text-align: center;
}